$color-primary: #569ae9;
$color-primary-light: #88ecf2;
$color-primary-dark: #1f6bc3;

$color-grey: #959595;
$color-black: rgb(22, 22, 22);
$color-white: #fff;
$color-red: rgb(226, 101, 84);

$font-main: "Montserrat", sans-serif;
