.App {
  @include flex-center(row);
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary
  );
}

.container {
  height: 80rem;
  width: 60rem;
  background-color: $color-white;
  border-radius: 1.5rem;
  box-shadow: 0 5px 25px 5px rgba($color-black, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & * {
    width: 100%;
  }
}

.title {
  text-align: center;
  margin: 6rem 0 3rem 0;
  justify-self: flex-start;
  align-self: flex-start;

  &__main {
    font-size: 5rem;
    font-weight: 200;
    & span {
      color: $color-primary;
      font-weight: 500;
    }
    margin-bottom: 2.5rem;
  }
}

.form {
  height: 40rem;
  margin: 2rem 0;
  @include flex-center(column);
  justify-content: space-between;

  &__box {
    @include flex-center(column);
    margin: auto;
  }

  &__input {
    width: 35rem;
    height: 5rem;
    border: 2px solid $color-grey;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-family: $font-main;
    font-size: 1.6rem;
    padding-left: 1rem;

    &:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }

    &::placeholder {
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-primary;

      &:invalid {
        border-color: $color-red;
      }
    }
  }

  &__btn {
    font-family: $font-main;
    font-size: 2.4rem;
    width: auto;
    padding: 1.5rem 4rem;
    border-radius: 1000px;
    justify-self: flex-end;
    background-color: transparent;
    border: 2px solid $color-grey;
    transition: all ease 0.2s;

    &:hover {
      cursor: pointer;
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-white;
    }
  }
}

.alt {
  text-align: center;
  &__link {
    text-decoration: none;
    color: $color-primary;
  }
}
